.checkout_main {
  padding: 72px 100px 0 100px;
}
.checkout_main > div {
  margin-top: 42px;
  display: flex;
  gap: 131px;
  flex-wrap: wrap;
}
.check_form {
  flex: 1;
  background-color: #f8f6f7;
  border-radius: 15px;
  padding: 72px 47px;
}
.check_form > p {
  font-size: 24px;
  font-family: "Myfont-semi-bold";
}
.check_cart {
  display: flex;
  flex-direction: column;
  width: 460px;
  height: 635px;
  background-color: rgb(255, 255, 255);
}

.checkout_form {
  margin-top: 46px;
  max-width: 578px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.checkout_form .row {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 16px;
}

.checkout_form input {
  width: 100%;
  padding: 10px 12px;
  /* border: 1px solid #ccc; */
  border-radius: 6px;
  box-sizing: border-box;
}
.checkout_form input::placeholder {
  color: #3e424a;
}

.check_input_plc {
  top: 6px;
  left: 13px;
  position: absolute;
  pointer-events: none;
}
.check_cart_div {
  display: flex;
  flex-direction: column;
  gap: 36px;
  flex: 1 1 auto;
  max-height: calc(100% - 284px);
  overflow-y: auto;
}

.check_txt_input {
  all: unset;
  position: relative;
  font-size: 20px;
  padding: 10.5px 12px;
  font-family: "MyFont-regular";
  height: 42px;
  border-radius: 10px;
  border: 1px solid #e1dfe1;
  background-color: #fff;
}
.input_err {
  border: 2px solid #ff4000;
}
.full_screen_overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}
.full_screen_overlay > img {
  width: 40px;
  height: 40px;
  position: absolute;
  right: 30px;
  top: 30px;
  cursor: pointer;
}
.centered_content {
  display: flex;
  text-align: center;
  flex-direction: column;
  align-items: center;
}
.centered_content > h1 {
  margin-top: 40px;
  margin-bottom: 16px;
}
.centered_content > p {
  font-size: 14px;
  margin-bottom: 74px;
}
.succ_div {
  background-color: #f8f6f7;
  width: 76px;
  height: 76px;
  border-radius: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}
