.header_main {
  display: flex;
  width: 100%;
  height: 80px;
  padding: 30px 100px;
  justify-content: space-between;
}
.header_main > div {
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
}
.user_img {
  width: 40px;
  border-radius: 100px;
  margin-left: 20px;
}
.sidebar-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.318);
  display: flex;
  justify-content: flex-end;
  z-index: 1000;
}

.sidebar {
  width: 540px;
  height: 100vh;
  background: #fff;
  padding: 40px;
}
.cart_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.cart_header > img {
  width: 18px;
  height: 18px;
  cursor: pointer;
}
.empty_cart_div {
  margin-top: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.empty_cart_div > img {
  width: 170px;
  margin-bottom: 24px;
}
.empty_cart_div > h2 {
  margin-bottom: 10px;
}
.empty_cart_div > p {
  font-size: 14px;
}
.cart_btn_s {
  width: 214px;
  font-size: 14px;
  margin-top: 58px;
}
