.products_main {
  padding: 72px 100px 216px 100px;
}
.products_header {
  display: flex;
  justify-content: space-between;
}
.pag_btn {
  font-family: "MyFont-regular";
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #7a8086;
  border: 2px solid #f8f6f7;
  border-radius: 5px;
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}
.pag_active {
  color: #ff4000;
  border: 2px solid #ff4000;
}

.pag_div {
  display: flex;
  justify-content: center;
  gap: 8px;
}
.pag_arrow {
  margin: 0 5px;
  width: 10px;
  background-image: url("../images/left-arrow.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}
.products_div {
  display: flex;
  gap: 24px;
  row-gap: 48px;
  max-width: 1720px;
  margin: 32px auto 90px auto;
  flex-wrap: wrap;
}
.product_card {
  cursor: pointer;
  width: 412px;
  height: 614px;
}
.product_card > img {
  width: 412px;
  border-radius: 10px;
}
.filter_main {
  display: flex;
  align-items: center;
  gap: 32px;
}
.filter_main > div {
  display: flex;
  gap: 8px;
  align-items: center;
  cursor: pointer;
}
