.products_main {
  padding: 72px 100px 216px 100px;
}
.products_header {
  display: flex;
  justify-content: space-between;
}
.pag_btn {
  font-family: "MyFont-regular";
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #7a8086;
  border: 2px solid #f8f6f7;
  border-radius: 5px;
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}
.pag_active {
  color: #ff4000;
  border: 2px solid #ff4000;
}

.pag_div {
  display: flex;
  justify-content: center;
  gap: 8px;
}
.pag_arrow {
  margin: 0 5px;
  width: 10px;
  background-image: url("../images/left-arrow.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}
.products_div {
  display: flex;
  gap: 24px;
  row-gap: 48px;
  max-width: 1720px;
  margin: 32px auto 90px auto;
  flex-wrap: wrap;
}
.product_card {
  cursor: pointer;
  width: 412px;
  height: 614px;
}
.product_card > img {
  width: 412px;
  border-radius: 10px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
  margin-bottom: 12px;
}
.filter_main {
  display: flex;
  align-items: center;
  gap: 32px;
}
.filter_main > div {
  display: flex;
  gap: 8px;
  align-items: center;
  cursor: pointer;
}
.filter_div {
  position: relative;
}

.filter_card {
  position: absolute;
  top: 40px;
  right: 0;
  width: 392px;
  height: 169px;
  border: 1px solid #e1dfe1;
  border-radius: 10px;
  cursor: auto;
  padding: 16px;
  background-color: #ffff;
}
.filter_input {
  box-sizing: border-box;
  width: 175px;
  height: 42px;
  margin-top: 15px;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.filter_inpt_div {
  display: flex;
  flex-direction: row;
  gap: 10px;
}
.filter_btn {
  height: 41px;
  width: 124px;
  margin-top: 10px;
}
.filter_btn_div {
  display: flex;
  justify-content: flex-end;
}
.pagination {
  display: flex;
  gap: 10px;
}
.pagination > li {
  list-style: none;
  margin: 0;
  padding: 0;
  font-family: "MyFont-regular";
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #7a8086;
  border: 2px solid #f8f6f7;
  border-radius: 5px;
  cursor: pointer;
  user-select: none;
}
.pagination li a {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}
.pagination li.pag_active {
  color: #ff4000;
  border: 2px solid #ff4000;
}
.pagination li.previous,
.pagination li.next {
  border: none;
  color: #333;
  border-radius: 4px;
  cursor: pointer;
  text-decoration: none;
}
.sort_div {
  position: relative;
}
.sort_card {
  width: 223px;
  height: 184px;
  cursor: default;
}
.sort_card > p {
  margin-top: 8px;
  cursor: pointer;
}
.sort_card > h3 {
  margin-bottom: 15px;
}
.filter_pop_div {
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 6px;
  margin-top: 19px;
  max-width: fit-content;
  border: 2px solid #e1dfe1;
  border-radius: 30px;
  padding: 8px 10px 8px 16px;
}
.filter_pop_div > p {
  font-size: 16px;
}
.filter_pop_div > img {
  width: 10px;
  height: 10px;
}
